.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-font);
}

.board {
    margin: 1.5rem;
    padding: 0.5rem;
    border: 3px solid var(--primary-colour);
    background-color: var(--secondary-colour);
    width: calc(100% - 3rem);
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-shrink: 0;
}

.column {
    border-left: 3px solid var(--primary-colour);
    border-right: 3px solid var(--primary-colour);
    margin: 0;
    flex: 1 1 0;
    padding: 1rem;
    background-color: var(--light-font);
    overflow-y: auto;
}

.column:first-child {
    border-left: 3px solid var(--primary-colour);
}

.column:last-child {
    border-right: 3px solid var(--primary-colour);
}

.column-name {
    background-color: var(--primary-colour);
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-colour);
    color: var(--light-font);
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.column-name h2 {
    font-size: var(--font-size-lg);
}

.page-container > button {
    align-self: flex-start;
    margin: 1rem 1.5rem;
}